
.collection-heads {
    padding: 20px;
    margin: 20px;
}
.collection-heads-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.collection-heads-header> button{
    width: 20%;
}
.collection-heads-header >h4 {
    color: #374957 !important;
}
