.app {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
}
.dashboard-container {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}
.main-content h1 {
  font-size: 2rem;
  color: #1f2937;
}

.main-content {
  width: 80%;
  background-color: #f0f0f0;
}