.property-list {
    margin: 20px;
}

.property-filter {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 20px;
}

.property-filter>select {
    border: 1px solid #d7dbdd;
    width: 30%;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 10px;
    appearance: none;
    background: url("../../assets/Vector.png") no-repeat right 10px center;
    outline: none;

}

.property-search-section {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    margin: 20px 0;
}

.search-section-a {
    display: flex;
}

.search-section-a>div {
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-section-a>div>span {
    background-color: #9747ff;
    margin: 0 10px;
    color: white;
    border-radius: 50%;
    padding: 10px;
    font-size: 1.15rem;
    margin: 5px;

}

.search-section-a>div>div {
    background-color: #9747ff;
    margin: 0 5px;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;

}


.search-section-b {
    background-color: white;
    border: 1px solid #9747ff;
    color: black !important;
    display: flex;
    border-radius: 20px;
    font-size: 1rem;
    justify-content: space-between;
}

.search-section-b>input {
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0 10px;
}

.search-section-b>button {
    all: unset;
    background-color: #9747ff;
    color: white;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    padding: 0 10px;
    font-size: 1.25rem;
}

.search-section-b>button>svg {
    font-weight: bold !important;
}